name: Upload Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install or Update AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Backup existing S3 files with 'backup' suffix and current date
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_SOURCE_PATH: ${{ secrets.AWS_SOURCE_PATH }}
          AWS_DEST_PATH: ${{ secrets.AWS_DEST_PATH }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          DATE=$(date +'%d%m%Y')
          BACKUP_FOLDER_NAME=$(basename ${{ secrets.AWS_SOURCE_PATH }})_backup_$DATE
          aws s3 ls s3://${{ env.AWS_S3_BUCKET }}/${{ env.AWS_SOURCE_PATH }}/ --recursive | awk '{print $4}' | while read FILE; do
            BASENAME=$(basename $FILE)
            RELATIVE_PATH=${FILE#${{ secrets.AWS_SOURCE_PATH }}/}
            aws s3 cp s3://${{ env.AWS_S3_BUCKET }}/${FILE} s3://${{ env.AWS_S3_BUCKET }}/${{ secrets.AWS_DEST_PATH }}/${BACKUP_FOLDER_NAME}/${RELATIVE_PATH}
          done
